# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("./data/black_friday.csv")

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    mode = black_friday[black_friday["Gender"] == "F"]["Age"].mode()[0]
    return sum(black_friday[black_friday["Gender"] == "F"]["Age"] == mode)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    return len(black_friday["User_ID"].unique())

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    return len(black_friday.dtypes.unique())

## Questão 5

Qual porcentagem das colunas possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    return (black_friday.isnull().sum().sort_values(ascending=False)/len(black_friday))[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    return black_friday.isnull().sum().sort_values(ascending=False)[0]

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    return black_friday["Product_Category_3"].value_counts().index[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    min_ = black_friday["Purchase"].min()
    max_ = black_friday["Purchase"].max()
    black_friday["Purchase_Standardized"] = (black_friday["Purchase"] - min_) / (max_ - min_)
    return black_friday["Purchase_Standardized"].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    mu  = black_friday["Purchase"].mean()
    std = black_friday["Purchase"].std()
    black_friday["Purchase_Normalized"] = (black_friday["Purchase"] - mu) / std
    return sum(1 if x >= -1 and x <= 1 else 0 for x in black_friday["Purchase_Normalized"])

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    na_ = black_friday.loc[:, black_friday.isnull().any()]
    result = True
    for a, b in zip(na_["Product_Category_2"], na_["Product_Category_3"]):
        if a == None and b != None:
            result = False
    return result